.reply-text{
    color: var(--moderate-blue);
    fill: var(--moderate-blue);
}

.reply-text:hover {
    color: var(--light-grayish-blue);
    fill: var(--light-grayish-blue);
}

.reply-box{
    min-height: 150px;
}

.reply-text-box{
    width: 100%;
    border-color: var(--light-grayish-blue);
    outline: 1 solid var(--light-grayish-blue);
    border-radius: 8px;
}

.reply-text-box:focus-visible{
    border-color: var(--light-grayish-blue);
}

.reply-btn{
    background-color: var(--moderate-blue);
    border: none;
}

.reply-btn:hover {
    background-color: var(--light-grayish-blue);
    border: none;
}