    <div class="comment-box p-md-3 row">
        <div class="col-md-1">
            <div class="d-flex justify-content-center flex-column">
                <button class="like-increment-btn" (click)="addScore(comment?.id)">+</button>
                <button class="total-like-count text-center" disabled>{{comment?.score}}</button>
                <button class="like-decrement-btn" (click)="subtractScore(comment?.id)">-</button>
            </div>
        </div>
        <div class="col-md-11">
            <div class="row align-items-center">
                <div class="col-md-1">
                    <img [src]="comment?.user?.image?.png" class="img-fluid"/>
                </div>
                <div class="col-md-5 d-flex">
                    <p class="user-name fw-bold my-auto">{{comment?.user?.username}}</p>
                    <p class="date-posted text-light-gray my-auto ms-2">{{comment?.createdAt}}</p>
                </div>
                <div class="col-md-2 offset-md-2">
                    <button class="bg-white border-0 delete-comment-btn" (click)="deleteComment(comment?.id)">
                        <svg width="12" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M1.167 12.448c0 .854.7 1.552 1.555 1.552h6.222c.856 0 1.556-.698 1.556-1.552V3.5H1.167v8.948Zm10.5-11.281H8.75L7.773 0h-3.88l-.976 1.167H0v1.166h11.667V1.167Z" fill="#ED6368"/></svg>
                        Delete</button>
                </div>
                <div class="col-md-2">
                    <button class="bg-white border-0 reply-text" (click)="replyBox=true">
                    <svg width="14" height="13" xmlns="http://www.w3.org/2000/svg"><path d="M.227 4.316 5.04.16a.657.657 0 0 1 1.085.497v2.189c4.392.05 7.875.93 7.875 5.093 0 1.68-1.082 3.344-2.279 4.214-.373.272-.905-.07-.767-.51 1.24-3.964-.588-5.017-4.829-5.078v2.404c0 .566-.664.86-1.085.496L.227 5.31a.657.657 0 0 1 0-.993Z"/></svg>
                        Reply</button>
                </div>
                <div class="col-md-11 mt-2">
                    <p class="comment-text text-light-gray">
                        {{comment?.content}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-box reply-box mt-2 p-md-3 row" *ngIf="replyBox">
        <div class="col-md-1 p-2">
            <img src="../../../assets/images/avatars/image-juliusomo.png" class="img-fluid"/>
        </div>
        <div class="col-md-9 p-1">
            <textarea class="reply-text-box h-100 p-md-2" #commentContent></textarea>
        </div>
        <div class="col-md-2 p-1">
            <button class="btn btn-primary reply-btn w-100 py-2" (click)="addReply(comment?.id, commentContent.value)">REPLY</button>
        </div>
    </div>